* {
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.Child {
    border: 1px solid;
    margin: 20px;
    height: 100px;
    width: 100vw;
    max-width: 800px;
}

.parent {
    border: 1px solid;
    margin: 20px;
    width: 100vw;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 50px;
    padding-bottom: 20px;
}
.button {
    background-color: #1c88bf;
    padding: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    font-weight: 300;
    margin-top: 1.2rem;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100vw;
    max-width: 800px;
    margin-left: 200px;
}
.cache-header { 
    padding-left: 260px;
    display: flex;
}
/* .lazy {
    width: 100vw;
    max-width: 800px;
} */
.lazy_container {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.lazyLoading {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-left: 200px;
}
.lazyLoading-title {
    padding-left: 260px;
    display: flex;
}


