.comments{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70vw;
    justify-content:space-around;
    border: 1px solid #ccc;
}

.comment_summary{
    padding: 10px;
    font-size: 20px;
}

.input_area{
    padding: 10px;
    width: 50vw;
}

.comment{
    padding: 10px;
}