.box-layout {
    display: flex;
    align-items: center;
    background: url('/src/images/bg.jpg');
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.box-layout__box {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    background: white;
    border-radius: 3px;
    padding: 3.2rem 1.6rem;
    text-align: center;
    width: 25rem;
}

.box-layout__title {
    margin: 0 0 1.6rem 0;
    line-height: 1;
    
}

.login-button {
    background-color: #1c88bf;
    padding: 1.2rem;
    color: #fff;
    font-size: 1.8rem;
    border: none;
    font-weight: 300;
    margin-top: 1.2rem;
}